avro-python3
apache-beam
pillow
lxml
matplotlib
Cython
contextlib2
tf-slim
six
pycocotools
lvis
scipy
pandas
tf-models-official==2.7.2
tensorflow-text==2.7.3
tensorflow_io
keras
pyparsing==2.4.7
tensorflow==2.7.0
absl-py==1.2.0
mlflow==1.27.0
pydantic==1.9.1
strictyaml==1.6.1